#btn-hamburger-menu {
    background-color: inherit;
    border: none;
    margin-left: 10px;
    font-size: 20px;
}

.hamburger-menu-wrapper {
    display: flex;
    position: absolute;
    top: 72px;
    background-color: #fff;
    width: 100%;
    height: calc(100% - 72px);
    ul {
        width: inherit;
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid rgb(187, 185, 185);
            width: inherit;
            height: 50px;
            span {
                margin-left: 10px;
                font-size: 13px;
            }
            svg {
                padding-right: 20px;
            }
        }
        li:active {
            background-color: #f3f3f3;
        }
    }
}
